.flexRowContent--header {
    background-color: #212121;
}

.flexRowContent--items {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    background-color: #424242;
    height: 55px;
    border-radius: 5px;
}

.flexRow--footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    z-index: 3;
}

.flexRowContent--footer {
    padding: 0;
    padding-top: 5px;
    justify-content: space-around;
    background-color: #424242;
}

.flexCol--product-main {
    max-width: 400px;
    margin: 0 auto;
    padding: 0;
}